*{
	padding: 0px;
	margin:0px;
}
body{
	background-image: url(./img/tooplate_body.jpg);
	background-size: contain;
    font-family: Tahoma, Geneva, sans-serif;
}
.container{
	max-width: 964px;
}
/* NAVBAR */
.navbar{
    position: relative;
	margin: 0 auto;
	max-width: 964px;
	max-height: 78px;
	background: no-repeat url("./img/tooplate_header.png") 50% / 100%;
	background-size: unset;
}
.space{
	height: 12px;
}
.navbar-dark .navbar-brand {
    width: 254px;
	text-align:center;
	background: no-repeat url(./img/tooplate_header_divider.png) right;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
	color: #0ad6e7;
}
.navbar-nav .nav-item .nav-link {
	text-align: center;
	padding:10px 15px 10px 10x;
	margin-left:28px;
}
.navbar-nav{
	background-color:#2D2D2D;
	opacity: 0.8;
	border-radius:10px;
}
.dropdown-menu {
    overflow:hidden;
	background:#2D2D2D;
	border-radius: 0.5;
}
a.dropdown-item {
	width: 136px;
	margin:0 auto;
	text-align: center;
	background:#2D2D2D;
	color:#ffffff80;
	font-size: 13px;
    width: 136px;
    height: 28px;
}
a.dropdown-item:hover{
	background:#2D2D2D;
	color: #0ad6e7;
	margin-right: calc(50% - 76px);
}
.nav-collapse{
	z-index: 999;
	justify-content: flex-end;
}
.navbar-nav .nav-item:hover .dropdown-menu{
	display:block;
}
/* SLIDE */
.carousel{
    padding: 32px 53px;
    background: url(./img/tooplate_slider_bg.png) center no-repeat;
	margin: 50px auto;
	background-size: contain;
	max-width: 964px;
}
.carousel-control-prev{
	margin-left:-40px
}
.carousel-control-next{
	margin-right:-40px
}

/* Content */
.content-block{
	padding: 0 40px;
	margin: 36px auto;
	max-width: 964px;
	background: #EBEBEB;
	border-radius: 8px;
	background-size: unset;
	border-bottom: #717171 3px solid;
}
.content-elem-1{
	width: 260px;
	margin:0 auto;
	padding:40px  20px 0 20px;
	justify-content: center;
}
.content-elem-1 img{
	padding:4px 12px 0 0;
	float: left;
}
.content-elem-2{
	padding:40px  20px 28px 20px;
}
.content-elem-1 p,
.content-elem-2 p{
	font-size: 11px;
}
.content-elem-1 a,
.content-elem-2 a{
	font-size: 18px;
	color:black
}
.content-elem-2 img{
	margin:0 auto 10px;
	display:block;
}
.content-elem-2 p a{
	font-size: 11px;
	color: #0ad6e7;
}

/* Footer */
.footer-block{
	padding:36px 62px 52px;
}
.footer-block h4{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-block p,
.footer-block i{
	font-size: 13px;
	color:#686868;
}
.footer-block a{
	font-size: 13px;
	color:#686868;
}
.footer-block p a{
	color: #0ad6e7;
}
.footer-block hr{
	margin:1px
}
.footer-elem{
	padding: 20px 10px;
}
.contact-icon img{
	padding:8px;
}

@media (max-width: 992px) {
	
}

@media (max-width: 768px) {
.carousel-control-prev{
	display:none;
}
.carousel-control-next{
	display:none;
}
}

@media (max-width: 576px) {
	
}